#searchbar {
    background-image: url('../Images/SearchIcon.png');
    background-position: 6px 7px;
    background-repeat: no-repeat;
    display: flex;
    width: 700px;
    margin: auto;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #123d7e77;
    margin-bottom: 12px;
    filter: opacity(70%);
    background-color: #94c1f5;
    border-radius: 1vh;
  }

.paulBox {
    border-radius: 3vh;
    display: flex;
    width: 810px;
    height: 600px;
    margin: auto;
    background-color: #94c1f5;
    box-shadow: 10px 5px 5px #120542;
    filter: opacity(70%);
    overflow-y: scroll;
    border: 2px solid #123d7e77;
}

tbody tr:hover {
    background-color: #123d7e77;
    color: white;
    text-shadow: #120542 1px 1px;
}

td {
    overflow: hidden;
}

.redeemer:hover, .amount:hover, .max:hover, .total:hover, .average:hover{
    background-color: #123d7e77;
    color: white;
    text-shadow: #120542 1px 1px;
}

#paultable {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    padding: 15px;
    font-family:'Segoe UI';
    font-size: large;
    font-weight: 600;
    color: #120542;
    text-shadow: #2e9aff 1px 1px;
}