body {
    overflow-y: scroll;
}

h2, h1, .categorydesc {
    text-align: center;
    color: lightblue;
    text-shadow: #0b032b 2px 2px 10px;
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    font-style: oblique;
}

h2 {
    font-size: 40px;
    font-style: oblique;
}

.categorydesc {
    font-size: 20px;
}

h4 {
    font-style: oblique;
}

h4, .cmimgdesc {
    text-align: center;
    margin: auto;
    color: 120542;
    text-shadow: #2e9aff 2px 2px 2px;
    font-family: sans-serif;
    font-size: 20px;
}

.christmasmarket {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.cmimage {
    overflow: hidden;
    background-color: rgba(118, 212, 243, 0.411);
    border-radius: 5px;
    border: 2px solid rgba(27, 27, 83, 0.473);
}

.cmimg {
    max-width: 100%;
    border-radius: 5px;
}

#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.801);
  }

@media only screen and (max-width: 930px) {
    .christmasmarket {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 620px) {
    .christmasmarket {
        grid-template-columns: auto;
    }
}