.christmasmarket {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.cmimage {
    overflow: hidden;
}

.cmimg {
    max-width: 100%;
}

#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
  }

@media only screen and (max-width: 930px) {
    .christmasmarket {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 620px) {
    .christmasmarket {
        grid-template-columns: auto;
    }
}