button:hover, input:hover {
    scale: 1.1;
}

.mainBox, .mainBox2 {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.mainBox2 {
    justify-content: space-between;
    margin-top: 40px;
}

.Text {
    max-height: 450px;
}

.Text, .Text2, .Text3 {
    text-align: center;
    color: lightblue;
    text-shadow: #000000 2px 2px 2px;
    font-family: cursive;
    font-size: 20px;
    max-width: 500px;
    margin: auto;
}

.Text2 {
    max-width: 300px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    outline: solid 5px #120542;
    box-shadow: 10px 5px 5px #a4aaff49;
    z-index: 10;
}

.Text3 {
    color: rgb(231, 249, 255);
    text-shadow: #000000 2px 2px 1px;
    overflow-y: auto;
    height: 1000px;
    max-width: 600px;
    overflow-x: hidden;
}

.linkHide {
    color: lightgreen;
}

.Caption {
    font-size: 50px;
    text-decoration: underline;
    color: #7be61e;
}

.special {
    color: rgb(255, 255, 225);
}

.sideL, .sideR {
    width: 128px;
    display: grid;
    row-gap: 30%;
    height: 400px;
}

.sideL {
    padding-left: 72px;
}

.sideR {
    padding-right: 72px;
}

#fly {
    margin-left: -72px;
}

#car {
    width: 200px;
}

#buttonCap, #buttonCap2 {
    margin-top: -185px;
    align-self: center;
    color: #05195e;
    text-shadow: -1px -1px 5px #c6e8ff, 1px -1px 5px #c6e8ff, -1px 1px 5px #c6e8ff, 1px 1px 5px #c6e8ff;
    font-size: 60px;
}

#buttonCap2 {
    margin-top: -225px;
}

#buttonIMG {
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    background-color: #c6e8ff;
}

.bigBox {
    max-width: 1100px;
    margin: auto;
    height: 1000px;
    opacity: 25%;
    border-radius: 30px;
    background-color: #aabbe0;
    box-shadow: 10px 5px 5px #120542;
    margin-top: 20px;
    pointer-events: none;
}

#emotes, #artworks {
    margin-top: -1000px;
}

#emotes {
    display: none;
}

@media only screen and (max-width: 800px) {
    .emote, #car {
        width: 112px;
    }
    #fly {
        margin-left: 0px;
    }
    .sideL {
        padding-left: 0px;
    }
    .sideR {
        padding-right: 0px;
    }
}

@media only screen and (max-width: 650px) {
    .emote, #car {
        width: 20vw;
    }
    .Text {
        overflow: hidden;
    }
}

/*Emote comission helper*/
.emote_calculator {
    width: 400px;
    background-color: #abb7d18e;
    color: #011044;
    text-shadow: 2px 2px 4px #cdebffc0;
    margin: auto;
    border-radius: 10px;
    outline: 3px solid #011044;
    box-shadow: 10px 5px 5px #a4aaff49;
}

.ex_emoteExists {
    height: 24px;
    width: 40px;
    visibility: hidden;
}

.ex_animType {
    height: 24px;
    width: 55px;
    visibility: hidden;
}

.ex_frameCount {
    max-width: 40px;
    text-align: center;
    visibility: hidden;
}

/*Art comission helper*/
.at {
    background-color: #abb7d18e;
    color: #011044;
    text-shadow: 2px 2px 4px #cdebffc0;
    border-radius: 10px;
    outline: 3px solid #011044;
    box-shadow: 10px 5px 5px #a4aaff49;
    width: 550px;
    margin: auto;
}

.at_grid {
    display: flex;
}

.at_buttons, .at_images {
    width: 300px;
    height: 230px;
    margin-left: 15px;
}

.at_buttons {
    margin-top: -15px;
}

.at_preview {
    width: 300px;
    height: 200px;
    margin-top: -200px;
}

.at_img{
    margin-top: 200px;
    outline: #05195e solid 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px #cdebff31;
}

.at_guywrapper_i, .at_guywrapper_p {
    display: flex;
}

.guy {
    outline: none;
    border-radius: none;
    box-shadow: none;
}

#at_si, #at_bi, #at_sp, #at_bp {
    visibility: hidden;
}

#at_numChars {
    max-width: 40px;
    text-align: center;
}

#at_moveup {
    margin-top: -18px;
}

@media only screen and (max-width: 600px) {
    .at {
        width: 97%;
    }
    .at_grid {
        flex-direction: column;
    }
    .at_buttons, .at_images {
        margin: auto;
    }
    .at_buttons {
        margin-top: -20px;
    }
    .at_extraButtons {
        margin-top: 20px;
    }
}