html{
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
    background-color: #093561;
}

.bg{
    top: 0vh;
    left: 0vw;
    position: absolute;
    overflow: hidden;
    filter: blur(0.1vh);
    width: 100%;
    z-index: -5;
}

.bg_video{
    top: 0vh;
    display: flex;
    width: 100%;
}

.bg_clouds{
    filter: opacity(5%);
    width: 100%;
    top: 0vh;
    position: absolute;
    animation: scroll 60s linear infinite;
}

.bg_clouds2{
    filter: opacity(5%);
    width: 100%;
    top: 0vh;
    left: 100%;
    position: absolute;
    animation: scroll 60s linear infinite;
}

@keyframes scroll {
    from {
        transform: translate(-100%);
    }
    to {
        transform: translate(0%);
    }
}

.bg_city{
    top: 0vh;
    position: absolute;
    width: 100%;
}

.title, .logo{
    position: relative;
    display: flex;
    object-fit: cover;
    overflow: visible;
    margin: auto;
    margin-top: 50px;
    width: 500px;
    height: 20vh;
    z-index: 5;
}

.logo{
    margin-top: -165px;
    object-fit: scale-down;
    width: 500px;
    height: 250px;
}

.main_box{
    object-position: bottom;
    display: flex;
    overflow: hidden;
    width: 500px;
    height: 700px;
    background:  #aabbe0;
    margin: auto;
    margin-top: -65px;
    filter: opacity(25%);
    border-radius: 5%;
    box-shadow: 10px 5px 5px #2a0542;
}

@media only screen and (max-width: 500px){
    .main_box, .title, .logo {
        width: 100%;
    }
}

@media only screen and (max-height: 960px){
    body {
        overflow-y: visible;
    }
}