body{
    overflow: hidden;
    animation: fadeInBdy 1s;
    background-color: #091624;
}

@keyframes fadeInBdy {
    from {
        background-color: #091624;
    }
    to {
        background-color: #093561;
    }
}
img, a {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
    transition-duration: 0.25s;
}

.bg{
    top: 0vh;
    left: 0vw;
    position: fixed;
    overflow: hidden;
    filter: blur(0.1vh);
    width: 100%;
    z-index: -5;
    object-fit: cover;
    height: 100%;
    animation: fadeInBG 1s;
}

@keyframes fadeInBG {
    from {
        filter: opacity(0%);
    }
    to {
        filter: opacity(100%);
    }
}

.bg_video{
    top: 0vh;
    display: flex;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.bg_clouds{
    filter: opacity(5%);
    width: 100%;
    height: 100%;
    top: 0vh;
    position: absolute;
    animation: scroll 60s linear infinite;
    object-fit: cover;
    object-position: right;
}

.bg_clouds2{
    filter: opacity(5%);
    width: 100%;
    height: 100%;
    top: 0vh;
    left: 100%;
    position: absolute;
    animation: scroll 60s linear infinite;
    object-fit: cover;
    object-position: left;
}

@keyframes scroll {
    from {
        transform: translate(-100%);
    }
    to {
        transform: translate(0%);
    }
}

.bg_city{
    top: 0vh;
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.title, .logo{
    position: relative;
    display: flex;
    object-fit: cover;
    overflow: visible;
    margin: auto;
    margin-top: 40px;
    width: 500px;
    height: 200px;
    z-index: 5;
    animation: fadeInTitle 0.5s;
}

@keyframes fadeInTitle {
    from {
        margin-top: 100px;
    }
}

.logo{
    margin-top: -165px;
    object-fit: scale-down;
    width: auto;
    height: 250px;
    animation: fadeInLogo 1s; 
}

.logo:hover{
    animation: dance 5s ease-in-out infinite;
}

@keyframes fadeInLogo {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(-1); 
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes dance {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(25deg);
    }
    20% {
        transform: rotate(-25deg);
    }
    30% {
        transform: scaleX(-1);
    }
    40% {
        transform: rotate(-25deg) scaleX(-1);
    }
    50% {
        transform: rotate(25deg) scaleX(1);
    }
    60% {
        transform: rotate(-25deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: scaleX(-1);
    }
    90% {
        transform: rotate(25deg) scaleX(-1);
    }
    100% {
        transform: rotate(0deg) scaleX(1);
    }
}

.main_box{
    object-position: bottom;
    width: 500px;
    height: 600px;
    margin: auto;
    margin-top: -65px;
    align-items: center;
    justify-content: center;
}

.bg_box{
    border-radius: 3vh;
    display: flex;
    width: 500px;
    height: 600px;
    margin: auto;
    filter: opacity(25%);
    background-color: #aabbe0;
    box-shadow: 10px 5px 5px #120542;
}

.circle {
    position: absolute;
    top: 260px;
    animation: fadeInBG 1s;
}

.quotes:hover, .art:hover, .projects:hover, .shop:hover, .docs:hover, .boards:hover {
    scale: 0.4;
    z-index: 5;
}

.quotes, .art, .projects, .shop, .docs, .boards {
    position: absolute;
    scale: 0.35;
}

.art {
    margin-top: -140px;
    margin-left: -75px;
    animation: fadeInArt 0.5s;
}

@keyframes fadeInArt {
    from {
        margin-top: -190px;
        margin-left: -100px;
    }
}

.projects {
    margin-top: -140px;
    margin-left: 75px;
    animation: fadeInProjects 0.5s;
}

@keyframes fadeInProjects {
    from {
        margin-top: -190px;
        margin-left: 100px;
    }
}

.shop {
    margin-left: -150px;
    animation: fadeInShop 0.5s;
}

@keyframes fadeInShop {
    from {
        margin-top: 0px;
        margin-left: -200px;
    }
}

.boards {
    margin-left: 150px;
    animation: fadeInBoards 0.5s;
}

@keyframes fadeInBoards {
    from {
        margin-top: 0px;
        margin-left: 200px;
    }
}

.docs {
    margin-top: 140px;
    margin-left: -75px;
    animation: fadeInDocs 0.5s;
}

@keyframes fadeInDocs {
    from {
        margin-top: 190px;
        margin-left: -100px;
    }
}

.quotes {
    margin-top: 140px;
    margin-left: 75px;
    animation: fadeInQuotes 0.5s;
}

@keyframes fadeInQuotes {
    from {
        margin-top: 190px;
        margin-left: 100px;
    }
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -135px;
    width: 500px;
    height: 150px;
    animation: fadeInBG 1s;
}

.twitch:hover, .kofi:hover, .youtube:hover, .github:hover, .discord:hover {
    scale: 0.25;
    border-radius: 300px;
    z-index: 5;
}

.twitch:hover {
    box-shadow: 10px 10px 100px 50px #6441A5;
    background-color: #6441A5;
}

.kofi:hover {
    box-shadow: 10px 10px 100px 50px #13C3FF;
    background-color: #13C3FF;
}

.youtube:hover {
    box-shadow: 10px 10px 100px 50px #FF0000;
    background-color: #FF0000;
}

.github:hover {
    box-shadow: 10px 10px 100px 50px #333;
    background-color: #333;
}

.discord:hover{
    box-shadow: 10px 10px 100px 50px #5865F2;
    background-color: #5865F2;
}

.kofi, .youtube, .github, .discord, .twitch {
    position: absolute;
    scale: 0.2;
}

.twitch, .discord {
    margin-top: -20px;
}

.kofi{
    margin-right: 400px;
    animation: fadeInKofi 0.5s;
}

@keyframes fadeInKofi {
    from {
        margin-right: 500px;
    }
}

.twitch {
    margin-right: 200px;
    animation: fadeInTwitch 0.5s;
}

@keyframes fadeInTwitch {
    from {
        margin-right: 250px;
        margin-top: 25px;
    }
}

.youtube {
    animation: fadeInYoutube 0.5s;
}

@keyframes fadeInYoutube {
    from {
        margin-top: 50px;
    }
}

.discord {
    margin-left: 200px;
    animation: fadeInDiscord 0.5s;
}

@keyframes fadeInDiscord {
    from {
        margin-left: 250px;
        margin-top: 25px;
    }
}

.github {
    margin-left: 400px;
    animation: fadeInGithub 0.5s;
}

@keyframes fadeInGithub {
    from {
        margin-left: 500px;
    }
}

@media only screen and (max-width: 515px) {
    .main_box, .title, .logo, .bg_box, .socials, .circle {
        width: 100%;
    }

    .twitch, .discord {
        margin-top: -100px;
    }
    .kofi {
        margin-right: 76%;
    }
    .twitch {
        margin-right: 38%;
    }
    .discord {
        margin-left: 38%;
    }
    .github {
        margin-left: 76%;
    }

    .projects {
        margin-top: -150px;
        margin-left: 120px;
    }
    .boards {
        margin-top: -15px;
        margin-left: 120px;
    }
    .quotes {
        margin-top: 120px;
        margin-left: 120px;
    }
    .docs {
        margin-top: 120px;
        margin-left: -120px;
    }
    .shop {
        margin-top: -15px;
        margin-left: -120px;
    }
    .art {
        margin-top: -150px;
        margin-left: -120px;
    }
}

@media only screen and (max-height: 960px) {
    body {
        overflow-y: visible;
    }
}
